{% extends "base.html" %}

{% block body %}
{% load widget_tweaks %}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
<title>Bootstrap Simple Login Form with Blue Background</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
<style type="text/css">

    .form-control{
		height: 41px;
		background: #f2f2f2;
		box-shadow: none !important;
		border: none;
	}
	.form-control:focus{
		background: #e2e2e2;
	}
    .form-control, .btn{        
        border-radius: 3px;
    }
	.signup-form{
		width: 35% ;
		margin: 10% auto;
	}
	.signup-form form{
		color: #999;
		border-radius: 3px;
    	margin-bottom: 15px;
        background: #fff;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
	.signup-form h2 {
		color: #333;
		font-weight: bold;
        margin-top: 0;
    }
    .signup-form hr {
        margin: 0 -30px 20px;
    }    
	.signup-form .form-group{
		margin-bottom: 20px;
	}
	.signup-form input[type="checkbox"]{
		margin-top: 3px;
	}
	.signup-form .row div:first-child{
		padding-right: 10px;
	}
	.signup-form .row div:last-child{
		padding-left: 10px;
	}
    .signup-form .btn{        
        font-size: 16px;
        font-weight: bold;
		background: #3598dc;
		border: none;
		min-width: 140px;
    }
	.signup-form .btn:hover, .signup-form .btn:focus{
		background: #2389cd !important;
        outline: none;
	}
    .signup-form a{
		color: #fff;
		text-decoration: underline;
	}
	.signup-form a:hover{
		text-decoration: none;
	}
	.signup-form form a{
		color: #3598dc;
		text-decoration: none;
	}	
	.signup-form form a:hover{
		text-decoration: underline;
	}
    .signup-form .hint-text {
		padding-bottom: 15px;
		text-align: center;
    }
</style>
</head>
<body>
<div class="signup-form" >
    <form method="post">
        {% csrf_token %}
		<h2>Sign Up</h2>
		<p>Please fill in this form to create an account!</p>
		<hr>
        <div class="form-group">
			<div class="row">
				<div class="col-xs-6">{% render_field form.first_name  type="text" class="form-control" placeholder="First Name"%}</div>
				<div class="col-xs-6"> {% render_field form.last_name  type="text" class="form-control" placeholder="Last Name"%}</div>
			</div>        	
        </div>
        <div class="form-group">
            {% render_field form.username  type="text" class="form-control" placeholder="username"%}
        </div>
        <div class="form-group">
            {% render_field form.email  type="text" class="form-control" placeholder="Email"%}
          </div>
		<div class="form-group">
      {% render_field form.password1  type="password" class="form-control" placeholder="Password "%}
        </div>


		<div class="form-group">
      {% render_field form.password2  type="password" class="form-control" placeholder="Confirm Password"%}
        </div>        
        <div class="form-group">
	
		</div>
		<div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg" style="float: center;width: 40% ;margin: 2.5%">Sign Up</button>
        </div>
    </form>
  <div class="hint-text">Already have an account? <a href="/accounts/login/" style="color: black">Login here</a></div>
  {% if form.errors %}

<div id="errors">
  <div class="inner">
    <p>There were some errors in the information you entered. Please correct the following:</p>
    {{ form.non_field_errors }}
    <ul>
      {% for field in form %}
        {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
      {% endfor %}
    </ul>
  </div>
</div>

{% endif %}
</div>

</body>
      {% endblock %}
