{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Kart</title>

    <!-- Favicon  -->
    <link rel="icon" href="{% static 'img/core-img/favicon.ico' %}">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="{% static 'css/core-style.css' %}">
  

</head>

<body >
 <!-- ##### Header Area Start ##### -->
 <header class="header_area">
    <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
        <!-- Classy Menu -->
        <nav class="classy-navbar" id="essenceNav">
            <!-- Logo -->
            <a class="nav-brand" href="/">Kart</a>
            <!-- Navbar Toggler -->
            <div class="classy-navbar-toggler">
                <span class="navbarToggler"><span></span><span></span><span></span></span>
            </div>
            <!-- Menu -->
            <div class="classy-menu">
                <!-- close btn -->
                <div class="classycloseIcon">
                    <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                </div>
                <!-- Nav Start -->
                <div class="classynav">
                 
                    <ul>
                        <li><a href="\">Shop</a></li>
                        
                    </ul>
           
                </div>
                
                <!-- Nav End -->
            </div>
        </nav>
    </nav>
        

        <!-- Header Meta Data -->
        <div class="header-meta d-flex clearfix justify-content-end">
            <!-- Search Area -->
            <div class="search-area">
                <form method="GET">
                    <input type="text" name="q" id="id_q" placeholder="Type for search" >
                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
            </div>
   
            <!-- User Login Info -->
        
            {% if not user.is_authenticated %}
            <div class="user-login-info">
                    <a href="{% url 'account_login' %}"><img src="{% static 'img/core-img/login.svg' %}" alt=""></a>
                </div>

            {% endif %}
    

            {% if user.is_authenticated %}
            <div class="user-login-info">
                    <a href="/profile/"><img src="{% static 'img/core-img/user.svg' %}" alt=""></a>
                </div>
            {% endif %}

         




         
            <!-- Cart Area -->
            <div class="cart-area">
                <a href="/order-summary/" ><img src="{% static 'img/core-img/bag.svg' %}" alt=""></a>
            </div>
            {% if user.is_authenticated %}
            <div class="user-login-info">
                    <a href="{% url 'account_logout' %}"><img src="{% static 'img/core-img/logout.png' %}" alt=""></a>
                </div>
            {% endif %}
        </div>

    </div>
</header>
<!-- ##### Header Area End ##### -->

<!-- ##### Right Side Cart Area ##### -->
<div class="cart-bg-overlay"></div>

<div class="right-side-cart-area">

    <!-- Cart Button -->
    <div class="cart-button">
        <a href="#" id="rightSideCart"><img src="{% static 'img/core-img/bag.svg' %}" alt=""> <span>3</span></a>
    </div>

   
</div>
<nav class="classy-navbar" id="essenceNav" >
  
        <div class="classy-navbar-toggler">
            <span class="navbarToggler"><span></span><span></span><span></span></span>
        </div>
        <!-- Menu -->
        <div class="classy-menu">
            <!-- close btn -->
            <div class="classycloseIcon">
                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
            </div>
            <!-- Nav Start -->
            <div class="classynav">
             
                <ul>
                 
                    <li>Category</li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'category-list' 'SW' %} ">Sport wears</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'category-list' 'S' %} ">Shirt</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'category-list' 'OW' %} ">Outwear</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'category-list' 'CL' %} ">Classy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'category-list' 'EW' %} ">Ethnic Wear</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'category-list' 'WW' %} ">Western Wear</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'category-list' 'FW' %} ">Fusion Wear</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'category-list' 'FOW' %} ">Formal Wear</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'category-list' 'LJ' %} ">Leggings & Jeggings</a>
                    </li>
                </ul>
       
            </div>
            
            <!-- Nav End -->
        </div>
    </nav>
    <hr />
{% if messages %}

  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" style="padding: 1%">
        <strong>{{ message }}</strong> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}



{% endif %}


{% block body %}


{% endblock %}








  <!-- ##### Footer Area Start ##### -->
  <!-- <footer class="footer_area clearfix" style="">
       
    <div class="col-md-12 text-center">
                <p>
                   
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>

                </p>

       -->

    </div>
</footer>
<!-- ##### Footer Area End ##### -->

<!-- jQuery (Necessary for All JavaScript Plugins) -->
<script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
<!-- Popper js -->
<script src="{% static 'js/popper.min.js' %}"></script>
<!-- Bootstrap js -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Plugins js -->
<script src="{% static 'js/plugins.js' %}"></script>
<!-- Classy Nav js -->
<script src="{% static 'js/classy-nav.min.js' %}"></script>
<!-- Active js -->
<script src="{% static 'js/active.js' %}"></script>

</body>

</html>