<style>
  body {
    font-family: Arial;
    font-size: 17px;
    padding: 8px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  
  .col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  .container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }
  
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  .btn {
    background-color: blue;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn:hover {
    background-color: #45a049;
  }
  
  a {
    color: #2196F3;
  }
  
  hr {
    border: 1px solid lightgrey;
  }
  
  span.price {
    float: right;
    color: grey;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
  }
  </style>





<!-- <div style="none"> 

</div>
  <main >
    <div class="container wow fadeIn">
      <h2 class="my-5 h2 text-center">Checkout form</h2>
      <div class="row">
        <div class="col-md-8 mb-4">
          <div class="card">
            <form method="POST" class="card-body">
              {% csrf_token %}

              <h3>Shipping address</h3>

              <div class='hideable_shipping_form'>

                <div class="md-form mb-5">
                  <input type='text' placeholder='1234 Main St' id='shipping_address' name='shipping_address' class='form-control' required />
                  <label for="shipping_address" class=""></label>
                </div>

                <div class="md-form mb-5">
                  <input type='text' placeholder='Apartment or suite' id='shipping_address2' name='shipping_address2' class='form-control' required/>
                  <label for="shipping_address2" class=""></label>
                </div>
              
                <div class="row">
                  <div class="col-lg-4 col-md-12 mb-4">
                    <label for="country">Country</label><br />
            
                    {{ form.shipping_country }}
          
                    
                    <div class="invalid-feedback">
                      Please select a valid country.
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 mb-4">
                    <label for="shipping_zip">Zip</label>
                    <input type='text' placeholder='Zip code' id='shipping_zip' name='shipping_zip' class='form-control' required />
                    <div class="invalid-feedback">
                      Zip code required.
                    </div>
                  </div>
                </div>


              </div>


              <hr>

              <h3>Billing address</h3>

              <div class='hideable_billing_form'>
                <div class="md-form mb-5">
                  <input type='text' placeholder='1234 Main St' id='billing_address' name='billing_address' class='form-control' required/>
                  <label for="billing_address" class=""></label>
                </div>

                <div class="md-form mb-5">
                  <input type='text' placeholder='Apartment or suite' id='billing_address2' name='billing_address2' class='form-control' required />
                  <label for="billing_address2" class=""></label>
                </div>

                <div class="row">
                  <div class="col-lg-4 col-md-12 mb-4">
                    <label for="country">Country</label><br />
                    {{ form.billing_country }}
                    <div class="invalid-feedback">
                      Please select a valid country.
                    </div>
                  </div>

                  <div class="col-lg-4 col-md-6 mb-4">
                    <label for="billing_zip">Zip</label>
                    <input type='text' placeholder='Zip code' id='billing_zip' name='billing_zip' class='form-control' required/>
                    <div class="invalid-feedback">
                      Zip code required.
                    </div>
                  </div>

                </div>

              </div>


              <hr>

              <h3>Payment option</h3>

              <div class="d-block my-3">
                {% for value, name in form.fields.payment_option.choices %}
                <div class="custom-control custom-radio">
                  <input id="{{ name }}" name="payment_option" value="{{ value }}" type="radio" class="custom-control-input" required>
                  <label class="custom-control-label" for="{{ name }}">{{ name }}</label>
                </div>
                {% endfor %}
              </div>

              <hr class="mb-4">
              <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>

            </form>

          </div>

        </div>

        <di style="float : right">
          {% include "order_snippet.html" %}
        </div>

      </div>

    </div>
    
  </main>
 -->



  <body>

    <h2 style="margin-left:35%;margin-right:35%">Checkout</h2>
    <div class="row">
      <div class="col-75">
        <div class="container">
          <form method="POST" class="card-body">
            {% csrf_token %}
          
            <div class="row">
              <div class="col-50">
                <h3>Shipping Address</h3>

                <input type='text' placeholder='1234 Main St' id='shipping_address' name='shipping_address' class='form-control' required />

                <input type='text' placeholder='Apartment or suite' id='shipping_address2' name='shipping_address2' class='form-control' required/>
        
    
              </div>
    
              <div class="col-50">
                <h3>Billing Address</h3>
      

                <input type='text' placeholder='1234 Main St' id='billing_address' name='billing_address' class='form-control' required/>

                <input type='text' placeholder='Apartment or suite' id='billing_address2' name='billing_address2' class='form-control' required />
        
                <div class="row">
          
                </div>
              </div>
              
            </div>


            <div class="row">
              <div class="col-50">
                <label for="state">country</label>
                {{ form.shipping_country }}              </div>
              <div class="col-50">
                <label for="zip">country</label>
                {{ form.billing_country }}
              </div>
            </div><br />




            <div class="row">
              <div class="col-50">
                <label for="state">Zip</label>
                <input type='text' placeholder='Zip code' id='shipping_zip' name='shipping_zip' class='form-control' required />
              </div>
              <div class="col-50">
                <label for="zip">Zip</label>
                <input type='text' placeholder='Zip code' id='billing_zip' name='billing_zip' class='form-control' required/>
              </div>
            </div>
            <div class="row">
              {% for value, name in form.fields.payment_option.choices %}
              <div class="">
                <input id="{{ name }}" name="payment_option" value="{{ value }}" type="radio" class="custom-control-input" required><br />
                <label class="custom-control-label" for="{{ name }}">{{ name }}</label><hr />
              </div>
              {% endfor %}
            </div>

            <input type="submit" value="Continue to checkout" class="btn">
          </form>
        </div>
      </div>
      <div class="col-25">
        <div class="container">
          
          {% include "order_snippet.html" %}
         
        </div>
      </div>
    </div>
    
    </body>


