
{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block body %}

<section class="shop_grid_area section-padding-80">
        <div class="container">
            <div class="row">
              

                
                    <div class="shop_grid_product_area">
                        

                        <div class="row">
{% for project in projects %}
                            <!-- Single Product -->
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="single-product-wrapper">
                                    <!-- Product Image -->
                                    <div class="product-img" style="height:248px;">
                                        <img src="{{ project.image.url }}" alt="">
                                        <!-- Hover Thumb -->
                                        <img class="hover-img" src="{{ project.image.url }}" alt="">

                                        <!-- Product Badge -->
                                        <!-- <div class="product-badge offer-badge">
                                            <span>-30%</span>
                                        </div> -->
                                        <!-- Favourite -->
                                     
                                    </div>

                                    <!-- Product Description -->
                                    <div class="product-description">
                                        <span>{{ project.get_category_display  }}</span>
                                        <a href="{% url 'product-detail' project.slug %}">
                                            <h6>{{ project.title }}</h6>
                                        </a>
                                        <p class="product-price"> 
                                  
                                                {% if project.discount_price %}
                
                                                  {{ project.discount_price  }}   
                                                  
                                                {%else %}                 
                                  
                                                {{ project.price  }}
                                                    
                                                {% endif %}
                                              </p>

                                        <!-- Hover Content -->
                                        <div class="hover-content">
                                            <!-- Add to Cart -->
                                            <div class="add-to-cart-btn">
                                                <a href="{% url 'product-detail' project.slug %}" class="btn essence-btn">view</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% empty %}
                            <h4>sorry !! nothing to show </h4>
                            {% endfor %}
     
                        </div>
                    </div>
                   
                </div>
                <div class="pagination" style="" >
                    <ul style=" list-style: none;
                    padding: 0;
                    width: 400px;
                    margin: 0 auto;
                    text-align: center;
                     "
                    
                     >
                        
                        {% if projects.has_previous %}
                        <li style="display:inline-flex ;border: solid gray ;padding: 2%;margin: 1%;border-width: thin"><a href="?page={{ projects.previous_page_number }}" style="color:black"> <     </a></li>
                        {% endif %}
                        {% for pg in projects.paginator.page_range %}
                        {% if projects.number == pg %}
                <a href="?page={{ pg }}" style="color:black;border: solid gray;padding: 2%;margin: 1%;border-width: thin">{{ pg }}</a>
                    
                        {% endif %}
                        {% endfor %}
                        {% if projects.has_next %}
                        <li style="display:inline-flex;border: solid gray;padding: 2%;margin: 1%;border-width: thin"><a href="?page={{ projects.next_page_number }}" style="color:black"> &nbsp  >  </a></li>
                        {% endif %}
                    </ul>
                </section>
     
                            {% endblock  %}