<!--Main layout-->
<main class="mt-5 pt-4">
        <div class="container dark-grey-text mt-5">
    
            <!--Grid row-->
            <div class="row wow fadeIn">
    
                <!--Grid column-->
                <div class="col-md-6 mb-4">
    
                    <img src="{{ object.image.url }}" class="img-fluid" alt="">
    
                </div>
                <!--Grid column-->
    
                <!--Grid column-->
                <div class="col-md-6 mb-4">
    
                    <!--Content-->
                    <div class="p-4">
    
                        <div class="mb-3">
                            <a href="">
                                <span class="badge purple mr-1">{{ object.get_category_display }} </span>
                            </a>
    
                        </div>
    
                        <p class="lead font-weight-bold">Availability : {{ object.get_availabily_display }}</p>
    
                        <p class="lead">
    
                            {% if object.discount_price %}
                            <span class="mr-1">
                          <del>
                                {{ object.price  }} 
                          </del>
                        </span>
                            <span>${{ object.discount_price }}</span>
                            {% else %}
    
                            <span>${{ object.price }}</span>
    
                            {% endif %}
    
                        </p>
    
                        <p class="lead font-weight-bold">Description</p>
    
                        <p> {{ object.description }}</p>
    
                        <!--            <form class="d-flex justify-content-left">-->
                        <!--              &lt;!&ndash; Default input &ndash;&gt;-->
                        <!--              <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px">-->
                        <!--              <button class="btn btn-primary btn-md my-0 p" type="submit">Add to cart-->
                        <!--                <i class="fas fa-shopping-cart ml-1"></i>-->
                        <!--              </button>-->
    
                        <!--            </form>-->
    
                        
                        {% if object.availabily == 'S' %}
    
    
                        <a  href="{% url 'add-to-cart' object.slug %}" class="btn btn-primary btn-md my-0 p">Add to cart
                            <i class="fas fa-shopping-cart ml-1"></i>
                        </a>
    
    
                        <a  href="{% url 'remove-from-cart' object.slug %}" class="btn btn-danger btn-md my-0 p">Remove From cart
                            <i class="fas fa-shopping-cart ml-1"></i>
                        </a>
    
                        {% endif %}
    
    
                    </div>
                    <!--Content-->
    
                </div>
                <!--Grid column-->
    
            </div>
            <!--Grid row-->
    
       
            <!--Grid row-->
           
    </main>
    <!--Main layout-->