{% extends "base.html" %}
        {% load static %}

 {% block body %}

 {% load cart_template_tags %}
<body>

    <section class="single_product_details_area d-flex align-items-center">

        <!-- Single Product Thumb -->
        <div class="single_product_thumb clearfix" align="center">
            <div   >
                <img src="{{ object.image.url }}" alt="" style="width:60%; ">
                
            </div>
        </div>

        <!-- Single Product Description -->
        <div class="single_product_desc clearfix">
            <span>{{ object.get_category_display }}</span>
            <a href="cart.html">
                <h2>{{ object.title }}</h2>
                <p class="lead font-weight-bold">Availability : {{ object.get_availabily_display }}</p>
            </a>
            <p class="product-price"><span class="old-price"> {{ object.price  }} </span> {{ object.discount_price }}</p>
            <p class="product-desc"> {{ object.description  }}  </p>

            <!-- Form -->
                
            {% if object.availabily == 'S' %}
      
            <!-- <a  href="{% url 'add-to-cart' object.slug %}" class="btn btn-primary btn-md my-0 p" style="margin: 2%">Add to cart
          
            </a> -->
            <a href="{% url 'add-to-cart' object.slug %}" class="btn essence-btn"  onclick="clickAndDisable(this);">Add to cart</a>
 
            <a  href="{% url 'order-summary'  %}" class="btn essence-btn" onclick="clickAndDisable(this);">Check out

            </a>
        </div>            <p id="demo"></p>
            <script> 
                function clickAndDisable(link) {
                  // disable subsequent clicks
                  link.onclick = function(event) {
                     event.preventDefault();
                  }
                  
                }   
             </script>
             
            {% endif %}

        </div>
    </section>



</body>
   {% endblock %}
</html>